<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<a href="http://localhost:5000/home">Home</a> 
<a href="http://localhost:5000/register">Register</a>
<a href="http://localhost:5000/login">Login</a> 
<a href="http://localhost:5000/spell_check">SpellCheck</a>
<a href="http://localhost:5000/history">Query History</a>
<a href="http://localhost:5000/login_history">Login History</a>

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<p> Query ID: <div id=queryid>{{ queryID }} </p>
<p> Username: <div id=username>{{ uname }} </p>
<p> Requested Text: <div id=querytext>{{ text }} </p>
<p> Returned Text : <div id=queryresults>{{ misspelled }} </p>

</body>
</html>